<div class="container-fluid welcome">
</div>
<div class="row form-group">
    <div class="col-sm-12 text-center text-primary">
        <p class="h1">Welcome to Lucky Dice</p>
        <p class="h3"> {{user.firstName}} {{user.lastName}} </p>
    </div>
</div>